@font-face {
    font-family: 'street-fighter';
    src: url('streetfighter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: grey;
}

.container {
    position: absolute;
    top: 21%;
    left: 21%;
}

.container__center {
    position: relative;
    background-color: black;
    height: 625px;
    display: flex;
    align-items: center;
}

#canvas-street-ironter {
    background-color: rgb(68, 148, 240);
    display: block;
}

.section{
    position: absolute;
    top: 21%;
    left: 21%;
}

.section__intro{
    background-image: url('../images/interface/backgroundIntro.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.section__selection-character {
    background-image: url('../images/interface/selectionCharacter.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section__tools {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.section__tools > img {
    width: 25px;
    margin: 10px;
}

.section__tools > img:hover {
    filter: drop-shadow(0 0 0.5px black);
}

.section__title{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
}

.section__title-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__interface{
    display: flex;
    justify-content: space-between;
    font-family: 'street-fighter';
    width: 1080px;
    height: 625px;
    color: white
}

.section__interface-main{
    flex-direction: column;
    align-items: center;
}

.section__interface-main > img{
    width: 50%;
}

.section__interface-selection-characters{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section__interface-banners{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__interface-banners-player{
    font-size: 5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

.section__interface-banners-character{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
}

.section__interface-images {
    border: 10px white solid;
    border-radius: 5%;
}

.section__interface-images:hover {
    border: 10px rgb(214, 82, 6) solid;
    cursor: pointer;
}

.no-visible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}
.interface__actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
}
.interface__actions-button{
    font-size: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.interface__actions-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.interfaces-buttons{
    position: relative;
    display: flex;
    flex-direction: column;
}

.interface__actions-button:hover{
    color: black;
    cursor: pointer;
}

.boardModal {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    background-color: white;
}

.boardModal__section{
    display: flex;
}

.boardModal__image{
    width: 100%;
}

.boardModal__close{
    cursor: pointer;
    border: none;
    background-color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}