body {
    padding: 0;
    margin: 0;
    background-color: grey;
}

.container {
    position: absolute;
    top: 22.5%;
    left: 22.5%;
}

.container__center {
    position: relative;
    background-color: black;
    height: 625px;
    display: flex;
    align-items: center;
}

#canvasStreetIronter {
    background-color: rgb(68, 148, 240);
    display: block;
}